.slider {
    position: relative;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 170px;
    height: 120px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 80%;
    right: 32px;
    font-size: 1.2rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 80%;
    left: 32px;
    font-size: 1.2rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .slider1 {
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
